
/* page footer  */

.page-footer {
  /* margin-top: 80px; */
  border-top: 1px solid #DCDBDD;
}

.red-block .page-footer {
  border-color: #ffffff;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-top: 40px;
  padding-bottom: 38px;
  margin-right: auto;
  margin-left: auto;
}

.page-footer__button {
  height: 46px;
  padding-right: 11px;
  padding-left: 11px;
  font-family: 'Basier Circle Medium', sans-serif;
  line-height: 47px;
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  color: black;
}

.page-footer__button img {
  margin-right: 2px;
  margin-bottom: -6px;
  height: 22px;
}

.page-footer__button span {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -2px;
  font-family: 'GT Walsheim Pro Bold', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  vertical-align: middle;
  background-color: #D64F49;
  border-radius: 30px;
}


.page-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}

.red-block .page-footer__links {
  color: #ffffff;
}

.page-footer__nav:first-child {
  font-family: 'Basier Circle Medium', sans-serif;
  font-size: 16px;
}

.page-footer__nav:last-child {
  font-size: 14px;
}

.page-footer__nav a {position: relative; font-family: 'Basier Circle Medium', sans-serif; text-decoration: none;}

.page-footer__nav a::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  content: '';
  -webkit-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.page-footer__nav a:hover::after {width: 100%;}

.page-footer__nav a:not(:first-child) {margin-left: 35px;}

.page-footer__nav:last-child a:not(:last-child) {margin-left: 26px;}

@media (max-width: 767px) {
  .page-footer {
    /* margin-top: 36px; */
  }

  .page-footer__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 25px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .page-footer__buttons {
    /* margin-top: 26px; */
    margin-left: 10px;
  }

  .page-footer__links {-ms-flex-wrap: wrap;flex-wrap: wrap;}

  .page-footer__nav {width: 100%;}

  .page-footer__nav:last-child {margin-top: 20px;}

  .page-footer__nav:first-child a:not(:first-child) {margin-left: 26px;}
  .page-footer__nav:last-child a:first-child {margin-left: 0;}
}

@media (min-width: 768px) and (max-width: 1199px) {
  .page-footer {
    /* margin-top: 48px; */
  }

  .page-footer__wrapper {
    padding-top: 31px;
    padding-right: 26px;
    padding-bottom: 36px;
    padding-left: 26px;
  }
}

